@(message: String, employees: List[Employee]) @main("Welcome to Play 2.0") {

<div class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-inner">
		<a class="brand" href="#">JeanCorp</a>
		<ul class="nav">
			<li class="active"><a href="#">Home</a></li>
			<li class="divider-vertical"></li>
			<li><a href="#">Octobre 2012</a></li>
			<li class="divider-vertical"></li>
			<li><a href="#">Novembre 2012</a></li>
			<li class="divider-vertical"></li>
		</ul>

		<form class="navbar-search pull-left">
			<input type="text" class="search-query" placeholder="Search">
		</form>

		<form class="navbar-form pull-right" action="/logout" method="POST">
			<button type="submit" class="btn">Deconnexion</button>
		</form>

	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content-->
		</div>
		<div class="span10">
			<!--Body content-->
		</div>
	</div>
</div>

<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#lA">Personnel</a></li>
		<li><a data-toggle="tab" href="#lB">Materiel</a></li>
	</ul>
	<div class="tab-content">
		<div id="lA" class="tab-pane active">
			<p>Je suis dans tab : Personnel</p>
			
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Nom Prenom</th>
						<th>Payout Rate</th>
						<th>Hours</th>
					</tr>
				</thead>
				@for(i <- 0 until 5) {
				<tr>
					<td>@employees(i).id</td>
					<td>@employees(i).firstName @employees(i).name</td>
					<td>@employees(i).payout</td>
					<td>@employees(i).workHours</td>
				</tr>
				}
			</table>
			
			<div class="pagination">
			 <ul>
				<li class="disabled"><a href="#">Prev</a></li>
				<li class="active"><a href="#">1</a></li>
				<li class="active"><a href="#">2</a></li>
				<li class="active"><a href="#">3</a></li>
				<li class="disabled"><a href="#">Next</a></li>
			 </ul>
			</div>
		</div>
		<div id="lB" class="tab-pane">
			<p>Je suis dans tab : materiel</p>
		</div>
	</div>
</div>

}