@(message: String, loginForm :Form[Manager])  @main("Welcome to Play 2.0"){
<style type="text/css">
/* Override some defaults */
html,body {
	background-color: #eee;
}

body {
	padding-top: 40px;
}

</style>
<div class="container">
	<div class="content">
		<div class="row">
			<div class="login-form">
				<h2>Login</h2>
				@helper.form(routes.Application.checkLogin()) {
					<fieldset>
						<div class="clearfix">
							<input type="text" placeholder="Username" name="login" value="">
						</div>
						<div class="clearfix">
							<input type="password" placeholder="Password" name="password" value="">
						</div>
						<button class="btn btn-primary" type="submit">Sign in</button>
					</fieldset>
				}
			</div>
		</div>
	</div>
</div>
}